<h1>Search for a cat</h1>

<!-- Construct the form for searching -->

<%= form_tag '/cats/search', method: :get do %>

  <%= search_field_tag :name %>

  <%= submit_tag 'Search', name: nil %>

<% end %>
